body{
	background-color: white;
	
	background-size: cover;
    margin: 0px;
    font-family: 'Exo', sans-serif;
    overflow:hidden;
}
.menu-into{
	border-bottom: 1px solid rgb(120,120,120);
	margin: 0 auto;
	width: 100%;
	background-color: white;
}
.menu-into-option{
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	border-right: 1px solid rgb(120,120,120);
	border-bottom: 6px solid white;
	font-size: 18px;
	cursor: pointer;
}
.menu-into-option:hover{
	border-bottom: 6px solid rgb(220,220,220);
	color: #1111FF;
}
form{
	padding: 10px;
}
label{
	margin-top: 20px;
	margin-bottom: 20px;
}
.cc-first{
 border: 1px gray solid;   
}
.table-light{
	background-color: rgb(240,240,255);
}
.cads{
	margin: 0;
}
.cad-data{
	margin: 10px;
}
thead{
	background-color: rgb(245,245,245);
}
