#top-nav{
    background-color: black;
    color: white;
}
#left-nav{
    background-color: rgb(40,40,40);
    position: relative;
    width: 200px;
    float:left;
    padding-bottom: 1000em;
	margin-bottom: -999.5em; 
    margin-right: 10px;
}
#content{
	position: relative;
	margin-top: 10px;
    margin-left: 210px;
    margin-right: 10px;
    background-color: white;
}
#center{
    margin: 0px;
    padding: 0px;

}
#teacher-central-content{
    margin: 0 auto;
    width: 600px;
    padding: 10px;

}
