a{
    text-decoration: none;
    color: rgb(200,200,200);
}
a.hover{
    background-color: #1111FF;
}
.top-nav-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: rgb(200,200,200);
    margin: 10px;
}
.top-nav-menu{
    text-align: center;
    background-color: rgb(66, 66, 66);
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    float:right;
}
.top-nav-menu:hover{
    background-color: #1111FF;
/*     background-color: rgb(210, 61, 12); */
    color: rgb(220,220,220);
}
.user-img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 50%;
}
.vertical_translate{
    padding-top: -10;
}
#user-infos{
    padding-right: 35px;
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    border-bottom: rgb(90,90,90) 0.5px solid;
    color: rgb(200,200,200);
}

.left-nav-img{
    height: 18px;
    width: 18px;
}
.left-nav-menu{
    color: rgb(200,200,200);
    font-size: 18px;
    text-align: left;
    padding-right: 35px;
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    border-bottom: rgb(90,90,90) 0.5px solid;
    cursor: pointer;
}
.left-nav-menu:hover{
    background-color: #1111FF;
     color: white;
}
.menu-list{
    margin: 0px; 
    padding: 0px;
    list-style-type: none;
}
.red{
    color: rgb(25, 147, 255);
}